%shared-content-mobile
  margin: 0 auto
  padding: 0 1rem
  position: relative
  box-sizing: border-box
  display: flex
  align-items: center
  width: 100%
  max-width: 992px

%button-properties
  padding: 4px 16px
  color: white
  background-color: #28a745
  border: none
  border-radius: 4px

$max-lines: 3

body
  position: relative
  width: 100%
  font-size: 16px
  overflow-y: scroll

a
  text-decoration: none

  &:hover,
  &:focus,
  &:active
    text-decoration: none

.navbar
  padding: 0
  height: 80px
  color: white
  background-color: rgba(0, 0, 0, .7)
  display: flex
  align-items: center
  position: fixed
  top: 0
  left: 0
  z-index: 500

  &.mobile
    .content
      .navbar-menu
        margin: 0 16px
        padding: 8px
        position: absolute
        top: 100%
        right: 0
        width: 96px
        display: flex
        flex-direction: column
        justify-content: flex-end
        background-color: white
        border-radius: 4px

  .content
    @extend %shared-content-mobile
    justify-content: space-between

    .logo
      width: 300px
      font-family: Georgia, 'Times New Roman', Times, serif
      font-size: 1.7rem
      font-weight: bold
    
    .navbar-menu
      display: none
      width: calc(100vm - 300px)

      .option
        padding: 8px
        color: black
    
    .hamburger
      color: white
      display: flex
      justify-content: flex-end
      font-size: 1.3rem

.dark
  background-color: black

.dark + .container
  padding-top: 102px

.hero-container
  width: 100vw
  height: 700px
  position: relative

  .hero-image
    width: 100%
    height: 100%
    object-fit: cover
    object-position: left

  .hero-inner-content
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
  
    .content
      @extend %shared-content-mobile
      height: 100%
      top: 0

      .hero-box
        padding: 16px
        position: absolute
        top: 250px
        color: white
        background-color: rgba(0, 0, 0, .6)
        display: flex
        flex-direction: column
        align-items: center

        .hero-title
          font-size: 2.4rem
          font-weight: bold
        
        .hero-button
          @extend %button-properties
          width: 180px

.container
  @extend %shared-content-mobile
  flex-direction: column
  padding-bottom: 1rem

  .search-bar
    margin: 16px 0
    padding: 8px
    background-color: #c0c0c0
    display: flex
    align-items: center
    justify-content: center

    .search-field
      margin: 0
      padding: 4px 8px
      border: none
      border-radius: 4px 0 0 4px
    
    .search-button
      @extend %button-properties
      border-radius: 0 4px 4px 0
  
  .books-list
    padding: 0
    display: flex
    flex-wrap: wrap

    .error
      color: red
      font-weight: bold
    
    .card-slot
      display: flex

      .book-card
        display: flex
        border: 1px solid #c0c0c0

        .book-thumbnail
          width: 120px
          height: 178px
          background-color: #d8d8d8

          .thumbnail
            width: 100%
            height: 100%

            &hide
              display: none

        .book-details
          width: calc(100% - 120px)
          height: 178px
          padding: 8px
          display: flex
          flex-direction: column
          overflow: hidden

          .book-title
            margin-bottom: 8px
            font-size: 1.2rem
            line-height: 1.4rem

          .book-author
            margin-bottom: 8px
            font-size: .7rem
            line-height: 1.2rem
          
          .card-text
            margin: 0
            -webkit-line-clamp: $max-lines
            line-height: 1.2rem
            max-width: 100%
            height: 1.2rem * $max-lines + .1rem
            display: block
            display: -webkit-box
            -webkit-box-orient: vertical
            overflow: hidden
            text-overflow: ellipsis

footer
  width: 100vw
  color: white
  background-color: black
  position: sticky
  bottom: 0
  left: 0

  p
    @extend %shared-content-mobile
    height: 56px
  &::first-child
    

@media screen and ( min-width: 992px )
  .navbar
    .content
      .navbar-menu
        display: flex
        align-items: center
        justify-content: flex-end

        .option
          padding: 0 25px
          color: white
      
      .hamburger
        display: none

  .hero-container
    .hero-image
      object-position: top
  
  .container
    .books-list
      .row
        margin-top: 1rem
        margin-bottom: 1rem

        &:first-child
          margin-top: 0
        
        &:last-child
          margin-bottom: 0
        
        .card-slot
          .book-card
            .book-details
              .card-text
                --max-lines: 4
                max-height: 1.2rem * 4